<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/styles/main.css' | relative_url }}">
  <link rel="preload" as="font" href="{{ '/assets/fonts/BentonSansBBVA-Book.woff' | relative_url }}" type="font/woff"/>
  <link rel="preload" as="font" href="{{ '/assets/fonts/BentonSansBBVA-Medium.woff' | relative_url }}" type="font/woff"/>
  <link rel="preload" as="font" href="{{ '/assets/fonts/BentonSansBBVA-BookItalic.woff' | relative_url }}" type="font/woff"/>
  <link rel="preload" as="font" href="{{ '/assets/fonts/BentonSansBBVA-MediumItalic.woff' | relative_url }}" type="font/woff"/>
  <link rel="preload" as="font" href="{{ '/assets/fonts/bbva-icons.woff' | relative_url }}" type="font/woff"/>
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" />
  <link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" >
  <link rel="apple-touch-icon" href="{{ '/assets/images/favicon.png' | relative_url }}" />
  <link rel="shortcut icon" sizes="128x128" href="{{ '/assets/images/favicon.png' | relative_url }}">
  <meta property="og:image" content="{{ '/assets/images/favicon.png' | relative_url }}" />
</head>
